@import "../colors";

.center {
  text-align: center;
}

.history-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 80vw;
  margin: 30px auto;

  justify-content: center;
}
.achievements {
  margin: 0 20px;
  padding: 20px 0;

  width: 30vw;
  min-width: 330px;

  .achievement {
    position: relative;
    left: 20px;

    width: calc(100% - 20px);

    padding: 0 20px 0 0;
    margin: 11px 0;
    line-height: 1.2;

    &::before {
      content: "-";
      position: absolute;
      left: -20px;
      margin: 0 5px;
    }
  }

  @for $i from 1 through 15 {
    p:nth-child(#{$i}) {
      animation-delay: 0.1s * $i + 0.5s;
      -webkit-animation-delay: 0.1s * $i + 0.5s;
      -moz-animation-delay: 0.1s * $i + 0.5s;
    }
  }
}

.citation {
  font-size: 10pt;
  font-weight: 500;

  color: lighten($black, 50);
}

.title-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  z-index: 1;
  .time {
    background: $gradient;
    color: $white;

    display: inline;

    padding: 1px 10px;

    z-index: 1;
    border-radius: 15px 15px 15px 0px;
  }
  .job-title {
    background-color: lighten($white, 5);
    padding: 20px 30px;
    display: inline-block;

    z-index: 2;
    min-width: 330px;

    color: #282828;

    border-radius: 0px 20px 20px 20px;

    .title {
      font-weight: 600;
      font-size: 16pt;
    }
    .at {
      font-size: 13pt;
      color: lighten($black, 50);
    }
  }
}

@media (max-width: 700px) {
  // .title-area {
  //   .time {
  //     font-size: 10pt;
  //   }
  //   .job-title {
  //     min-width: unset;
  //     .title {
  //       font-size: 13pt;
  //     }
  //     .at {
  //       font-size: 11pt;
  //     }
  //   }
  // }

  .achievement {
    font-size: 11pt;
  }
}
