.one-by-one-up {
  * {
    position: relative;
    animation: 1s cubic-bezier(0.61, 0.01, 0.11, 0.96) both up;
    -moz-animation: 1s cubic-bezier(0.61, 0.01, 0.11, 0.96) both up;
    -webkit-animation: 1s cubic-bezier(0.61, 0.01, 0.11, 0.96) both up;
  }
}

@for $i from 1 through 9 {
  .one-by-one-up {
    // :nth-child(1-9)
    *:nth-child(#{$i}) {
      // Delay the animation. Delay increases as items loop.
      animation-delay: ($i * (2s / 18)) + 0.5;
    }
  }
}

@keyframes up {
  0% {
    opacity: 0;
    top: 30px;
  }
  25% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-moz-keyframes up {
  0% {
    opacity: 0;
    top: 30px;
  }
  25% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
    top: 30px;
  }
  25% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
