@import "../../../Utils/colors";

.freelance-item {
  padding: 20px;
  background-color: lighten($white, 5);
  border-radius: 15px;
  color: #282828;
  margin: 10px 0;
  display: inline-block;

  .title {
    font-weight: 600;
    font-size: 16pt;
  }
  .description {
    font-size: 13pt;
    color: lighten($black, 50);
  }
}
