@import "./Utils/colors";
.double {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  position: relative;
  max-width: 100vw;
  box-sizing: content-box;
  padding: 70px 10px 20px;

  & > * {
    width: 50%;
    min-width: 415px;
    padding: 0 20px;
  }

  .row {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;
  }
}

.mobile {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 0 25px;
}

#size-check {
  * {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
  }
}
